<?xml version="1.0"?>
<configuration>
  <system.web>
    <authorization>
      <allow roles="User"/>
    </authorization>
  </system.web>
  <location path="~/Views/User/CartItems.aspx">
    <system.web>
      <authorization>
        <allow roles="User"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Views/User/UserInvoice.aspx">
    <system.web>
      <authorization>
        <allow roles="User"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Views/User/UserOrders.aspx">
    <system.web>
      <authorization>
        <allow roles="User"/>
      </authorization>
    </system.web>
  </location>
  <location path="~/Views/User/UserPaymentOptions.aspx">
    <system.web>
      <authorization>
        <allow roles="User"/>
      </authorization>
    </system.web>
  </location>
</configuration>
